* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: serif;
}

@media only screen and (max-width:1400px) {
    #root {
        flex-direction: column;
    }
}

body {
    padding: 8rem 0;
    background-color: #f9fcff;
}


h2 {
    color: rgb(113, 136, 60);
}

#root {
    display: flex;
}

.container {
    background-color: #FBFBFB;
    margin: 0 auto;
    box-shadow: 1px 2px 2px 1px #CCC;
    width: 800px;
    padding: 1em 2em 4em 2em;
}

header {
    display: flex;
    align-items: center;
    margin-left: 2em;
    margin-bottom: 1em;

    & > * {
        margin: 1em;
    }

    .contact-info {
        width: 400px;
        margin-left: 2.7em;
    
    
        h2 {
            font-size: 32px;
            color: rgb(98, 167, 98);
            width: 7em;
        }
    }


    .label {
        font-weight: 600;
    }
    
    h2 {
        margin: .7em 0;
    }
}

h2.underline::after {
    content: '';
    height: 3px;
    background-color: rgb(200, 223, 97);
    display: block;
    margin-top: 0.1em;
}

.avatar {
    display: block;
    width: 130px;
    border-radius: 50%;
}

.sections {
    width: 70%;
    margin-left: auto;
    border-left: 2px solid #AAA;
    padding-bottom: 1em;

    & > * {
        margin-bottom: 3em;
    }

    div > * {
        margin-left: 0.6em;
    }    

    .content {
        padding-left: 1em;
    }
    
}


.section-header {
    transform: translateX(-2.1em);
    display: flex;
    align-items: center;
    margin-bottom: 15px;

    i {
        margin-right: 0.5em;
        color: #FFF;
        background-color: #000;
        border-radius: 50%;
        padding: 6px 7px;
    }
}

.entry-header {
    display: flex;
    margin-bottom: .5em;
    transform: translateX(-13.7em);
}

.general {
    margin-right: 3em;
    text-align: right;
}

.entry-header {
    position: relative;
}

.entry-header::before {
    content: '';
    width: 10px;
    height: 10px;
    display: block;
    background-color: #000;
    border-radius: 50%;
    position: absolute;
    top: 0.5em;
    left: 10.5em;
}

.content ul {
    margin-left: 2em;
    color: #555;
}

.list-entry {
    margin-bottom: 1em;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1;
    position: fixed;
    top: 0;
    padding: 0 6em 0 1em;
    height: 5em;
    width: 100vw;
    background-color: #19815f;
    
    h1 {
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        padding-left: 1em;
        color: white;
    }
}

.btn {
    cursor: pointer;
    padding: 1em 2em;
    background-color: #56ad4e;
    border: none;
    border-radius: 3px;
    color: #FFF;
    font-family: sans-serif;
    font-weight: 600;
}

.btn:hover {
    background-color: #5fb857;
    transition-duration: .2s;
}