* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: serif;
}

h1, h2 {
    color: rgb(98, 173, 98);
}

h1::after {
    content: '';
    width: 7em;
    height: 3px;
    background-color: rgb(200, 223, 97);
    display: block;
    margin-top: 0.1em;
}

#container {
    margin: 0 auto;
    box-shadow: 1px 2px 2px 1px #CCC;
    width: 800px;
    padding: 1em 2em 4em 2em;
}

header {
    display: flex;
    align-items: center;
    margin-left: 2em;
    margin-bottom: 1em;

    & > * {
        margin: 1em;
    }

    .contact-info {
        width: 400px;
        margin-left: 2.7em;
    }

    .label {
        font-weight: 600;
    }
    
    h1 {
        margin: .7em 0;
    }
}

.avatar {
    display: block;
    width: 130px;
    border-radius: 50%;
}

.sections {
    width: 70%;
    margin-left: auto;
    border-left: 2px solid #AAA;
    padding-bottom: 1em;

    & > * {
        margin-bottom: 3em;
    }

    div > * {
        margin-left: 0.6em;
    }    

    .content {
        padding-left: 1em;
    }
    
}


.section-header {
    transform: translateX(-2.1em);
    display: flex;
    align-items: center;
    margin-bottom: 15px;

    i {
        margin-right: 0.5em;
        color: #FFF;
        background-color: #000;
        border-radius: 50%;
        padding: 6px 7px;
    }
}

.entry-header {
    display: flex;
    margin-bottom: .5em;
    transform: translateX(-13.7em);
}

.general {
    margin-right: 3em;
    text-align: right;
}

.entry-header {
    position: relative;
}

.entry-header::before {
    content: '';
    width: 10px;
    height: 10px;
    display: block;
    background-color: #000;
    border-radius: 50%;
    position: absolute;
    top: 0.5em;
    left: 10.5em;
}

.content ul {
    margin-left: 2em;
    color: #555;
}

.list-entry {
    margin-bottom: 1em;
}